<a href="https://colab.research.google.com/github/raifernandesz/Repositorio_Base_RaianeFernandes/blob/main/revisao2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

empresa = pd.read_csv("/content/empresa.csv")
# empresa.head (10)
df = pd.DataFrame(empresa)


# empresa.tail(15)




# empresa['setor']
# empresa['nome']
# empresa['tempo_empresa_anos']
# empresa['cidade']



# empresa.info()

# empresa.describe()


# df[df['nome']=="Carlos"]

# df[df['setor'] == 'TI']

# df[df['salario'] > 4000]

# df[['nome', 'salario']]


# df.sort_values('salario', ascending= False)
# df.sort_values('salario', ascending= True)


# contagem_funcionarios = df.groupby('setor').size()
# display(contagem_funcionarios)


# df.groupby('salario').mean(50)
# df.groupby('salario').max(50)
# df.groupby('salario').min(50)

# df[df['tempo_empresa_anos']> 3]



# df[df['cidade'] == 'São Paulo']


display(df[df["nome"].str.startswith("J")])

    id   nome   setor  salario  tempo_empresa_anos        cidade
4    5   João  Vendas     4500                   4  Porto Alegre
9   10  Julia  Vendas     4500                   4  Porto Alegre
14  15   João  Vendas     4500                   4  Porto Alegre
19  20  Julia  Vendas     4500                   4  Porto Alegre
24  25   João  Vendas     4500                   4  Porto Alegre
29  30  Julia  Vendas     4500                   4  Porto Alegre
34  35   João  Vendas     4500                   4  Porto Alegre
39  40  Julia  Vendas     4500                   4  Porto Alegre
44  45   João  Vendas     4500                   4  Porto Alegre
49  50  Julia  Vendas     4500                   4  Porto Alegre