<a href="https://colab.research.google.com/github/raifernandesz/Repositorio_Base_RaianeFernandes/blob/main/exercicio2_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:

import pandas as pd

ecom = pd.read_csv('/content/Ecommerce Purchases.csv')
ecom.head(10)




# MOSTRAR AS LINHAS E COLUNAS
# ecom.shape




# MOSTRAR INFORMAÇÕES
# ecom.info()





# VALOR MAXIMO DA COLUNA PURCHASE PRICE
# ecom['Purchase Price'].mean()




# VALOR MINIMO DA COLUNA PURCHASE PRICE
# ecom['Purchase Price'].min()




# CADA IDIOMA COM UMA LINGUAGEM
# sum(ecom['Language'] == 'en')





# CARGO
# sum(ecom['Job'] == 'Lawyer')



# GRUPOS AM E PM
# ecom.groupby('AM or PM').count()





# Neste caso, primeiro fazemos a contagem dos valores na coluna 'Job' e depois pegamos apenas os 5 primeiros.
# ecom['Job'].value_counts().head() # .value_counts() já retorna a contagem ordenada do maior para o menor






# ecom[ecom['Lot'] == '90 WT']['Purchase Price']
# 1 - Primeiro fazemos a comparação ecom['Lot'] == '90 WT'. Isso retorna uma Series com True na(s) linha(s) onde 'Lot' é '90 WT' e False na restante
# 2 - Depois usamos essa Series como filtro, dentro do colchetes da própria variável ecom ecom[ecom['Lot'] == '90 WT'],
# assim transformando ela de volta em um DataFrame filtrado
# 3 - Por último filtramos apenas a coluna 'Purchase Price' do DataFrame






# Aqui podemos seguir a mesma lógica do exemplo anterior
# ecom[ecom['Credit Card'] == 4926535242672853]['Email']






# Para combinar dois filtros utilizamos o símbolo '&' (que representa a mesma coisa que AND) no pandas
# ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()









#QUANDO VAI EXPIRAR EM 2025
# sum(ecom['CC Exp Date'].apply(lambda x: x[-2:] == '25'))







# 5 PRIMEIROS PROVEDORES DE UM EMAIL
# ecom['Email'].apply(lambda x: x.split('@')[-1]).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64